packages: [
  ".bin"
  "atom-typescript"
  "autoclose-html"
  "file-icons"
  "file-type-icons"
  "highlight-selected"
  "language-docker"
  "language-javascript-jsx"
  "language-latex"
  "linter"
  "linter-eslint"
  "linter-pylint"
  "linter-rubocop"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-linter"
  "minimap-split-diff"
  "package-sync"
  "pigments"
  "project-manager"
  "split-diff"
  "vim-mode"
  "vim-mode-plus"
  "vim-mode-visual-block"
  "vim-surround"
]
